/*global styles*/

body{
    background-image:url('../assets/space.jpg');
    color: #F4F6F7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, p{
    text-align:center;
    font-size:22px;
}

.guessing {
    border:3px solid #dd1a1a;
    margin-bottom:10px;
}

.lives{
    border:3px solid #8dcc35;
}

.glyphicons{
    margin-left:340px;
}

.swg{
    padding:10px;
}



