/*global styles*/

body{
    background-image:url('../assets/space.jpg');
    color: #F4F6F7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#jumbo-head {
    background-color: #892337af;
    color: gainsboro;
}

.main-head {
    text-align: center;
    text-transform: uppercase;
}

p{
    text-align:center;
    font-size:22px;
    color: gainsboro;
}

.guessing {
    border:3px solid #B62321;
    margin-bottom:10px;
}

.lives{
    border:3px solid #A1A332;
}